{% extends "main.jinja" %}

{% block title %}Trabalhos Importantes{% endblock title %}

{% block content %}
<br>
<div class="flex flex-col w-full justify-center pt-4.5">
        <div class="font-sans">
            <h1 class="sm:text-lg text-base font-slab text-white font-semibold">Trabalhos Importantes</h1>
        </div>
        <div class="sm:text-base text-sm font-slab my-1.5 leading-7 text-white/80 line-clamp-3">
            
        </div>
    </div>
{% endblock content %}