{% extends "main.jinja" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="pt-10">
    <h1 class="font-slab text-white text-2xl font-semibold">{{ post.title }}</h1>
    <h3 class="font-content py-2 text-lg text-stone-200">{{ post.description }}</h3>
    <div class="font-sans py-3 flex items-center">
        <div class="flex items-center justify-center bg-zinc-700 w-9 h-9 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 24 24" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
        </div>
        <div class="text-sm ml-2 leading-5">
            <div class="text-stone-100/90 font-medium">{{ author.username }}</div>
            <div class="text-stone-100/70">{{ post.created_at }}</div>
        </div>
    </div>
</div>
{% if post.photo is defined and (post.photo.startswith('/') or post.photo.startswith('http')) %}
<img class="mt-3 mb-3 rounded-lg w-full h-80 object-cover" src="{{ post.photo }}">
{% endif %}
<div class="font-slab mt-2 text-lg leading-7 text-white/80">
    {{ post.content }}
</div>
<div class="mt-4 text-white/40">

    <span>{{ comments|length }} {{ 'comentário' if comments|length == 1 else 'comentários' }}</span>

    {% for comment in comments %}
    <div class="my-3">
        <div class="flex gap-2 items-start">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="mt-0.5 w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>

            <div>
                <div class="inline-block font-medium px-1.5 py-px bg-indigo-400/10 rounded text-indigo-400">@{{
                    comment.author }}</div>
                <span class="text-neutral-300">
                    "{{ comment.content }}"
                </span>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if session['username'] %}
    <form action="/post/{{ post.id }}/comment" method="POST">
        <textarea id="content" name="content"
            class="rounded-md mt-4.5 py-4 h-24 px-4 w-full bg-darkzinc/40 text-white resize-none"
            placeholder="Deixe um comentário."></textarea>
        <div class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>

            <div>Você está comentando como: <span class="text-white/80">@{{ session['username'] }}</span></div>
            <button type="submit"
                class="ml-auto mt-2.5 px-4 block font-xs py-1 font-medium text-indigo-400 bg-indigo-500/10 border border-indigo-600 rounded-lg cursor-pointer hover:bg-indigo-600 hover:text-white">Publicar</button>
        </div>
    </form>
    {% else %}
    <div class="rounded-md mt-6 py-8 px-4 w-full bg-darkzinc/40 text-white/50 text-center">
        <a href="/register" class="text-white/70 hover:underline">Crie um conta</a>
        <span>ou</span>
        <a href="/login" class="text-white/70 hover:underline">conecte-se</a>
        <span>para comentar em nossos posts.</span>
    </div>
    {% endif %}
</div>
{% endblock content %}