{% extends "main.jinja" %}

{% block title %}Psycho IF{% endblock title %}

{% block content %}
<br>
<div class="flex flex-col w-full justify-center pt-4.5">
        <div class="font-sans">
            <h1 class="sm:text-lg text-base font-slab text-white font-semibold">Sobre a PsychoIF</h1>
        </div>
        <br>
        <div class="font-sans">
            <h1 class="sm:text-lg text-base font-slab text-white font-semibold">O que o projeto faz?</h1>
        </div>
        <br>
        <div class="sm:text-base text-sm font-slab my-1.5 leading-7 text-white/80 ">
            <p>"Redes Socias: um Estudo do Impacto na Autoestima dos Alunos do Instituto Federal - Campus Guarulhos" é um projeto que vem de um projeto de pesquisa feito no IFSP - Campus Guarulhos. Esse projeto vissa o levantamento da questão de redes sociais e o impacto que elas trazem para a autoestima dos adolescentes, em específico estudantes do IFSP Guarulhos, onde são em sua maioria jovens, grupo mais atingido pela pressão de modelo perfeito nas redes. Observamos isso a partir de relações dentro do próprio Campus na qual já relataram experiências de comparação e autoestima atormentada por conta de redes sociais.</p>
            <br>
            <p>Para solucionar esse problema, primeiramente, aplicamos um formulário para fazer uma coleta de dados sobre a situação da autoestima dos estudantes do IFSP - Campus Guarulhos e os impactos das redes sociais nelas e, segundamente, estamos fazendo rodas de conversa com um profissional da área, para que as questões dos alunos possam ser explicadas por fontes confiáveis, e que no final de tudo, também seja um espaço seguro para os alunos. </p>

        </div>
        <br>
        <div class="font-sans">
            <h1 class="sm:text-lg text-base font-slab text-white font-semibold">Por que?</h1>
        </div>
        <br>
        <div class="sm:text-base text-sm font-slab my-1.5 leading-7 text-white/80 ">
            <p>O problema retratado no projeto está cada vez mais em seu ápice. Com as experiências compartilhadas pelos alunos do IFSP Campus Guarulhos, nós, integrantes do grupo, vimos uma oportunidade para não se render a ignorância e estar de acordo de que há muito mais vivências semelhantes as que já foram presenciadas dentro do próprio instituto. Afetando a vida de adolescentes a cada segundo, é reconhecível que o problema ainda vem sendo utilizado pelos próprios atingidos como uma forma de piada na tentativa de normalizar a questão, o que não pode ocorrer de maneira alguma. O retrato desse assunto nos dias atuais é fundamental para o crescimento do psicológico da geração de adolescentes, problematizando e adquirindo novos pontos de vista do tópico para que haja uma conscientização conjunta.</p>
        </div>
        <br>
        <div class="font-sans">
            <h1 class="sm:text-lg text-base font-slab text-white font-semibold">Como?</h1>
        </div>
        <br>
        <div class="sm:text-base text-sm font-slab my-1.5 leading-7 text-white/80 ">
            <p>Um questionário é realizado com o intuito de analisar os comportamentos entre os alunos em relação as redes sociais, auto estima e problemas psicológicos em relação as isso, e como elas afetam diretamente sua autoestima. E logo após a roda de conversa, é enviado a todos os participantes um formulário de como eles se sentiram em relação aos temas discutidos, se houve acolhimento e conforto no momento em que a conversa estava sendo feita, dando entrada para divisão de experiências dos assuntos citados e por fim, contribuindo aos poucos para a conclusão dos objetivos feitos para esse projeto.
            </p>
        </div>
        <br>
        <div class="font-sans">
            <h1 class="sm:text-lg text-base font-slab text-white font-semibold">Autores </h1>
        </div>
        <br>
        <div class="sm:text-base text-sm font-slab my-1.5 leading-7 text-white/80 ">
            <p>Somos estudantes do IFSP - Campus Guarulhos, estamos atualmente cursando o 3°ano do curso técnico integrado ao ensino médio de informática para a Internet. Os autores do projeto são: 
            </p>
        </div>
    </div>
{% endblock content %}